<div class="col-lg-12 mb-3">
  <div class="input-group">
    <input (input)="updateFilterText($event)" aria-label="Filter by... " class="form-control"
           placeholder="Filter by..."
           type="text">
    <span class="input-group-btn">
        <button class="btn" type="button"><svg cIcon name="cil-filter" size="xl"></svg></button>
      </span>
  </div>
</div>

<ng-container *ngIf="isLoaded(dataStore$ | async); else loading">
  <app-widgets-brand
    [brandData]="filteredBrandData"
    [labels]="labels"
    [withCharts]="true"
  ></app-widgets-brand>
</ng-container>

<ng-template #loading>
  <c-spinner></c-spinner>
</ng-template>
